[submodule "SPSCQueue"]
	path = SPSCQueue
	url = git@github.com:Gizzzzmo/SPSCQueue.git
[submodule "hat-trie"]
	path = hat-trie
	url = git@github.com:Tessil/hat-trie.git
[submodule "variant"]
	path = variant
	url = git@github.com:mpark/variant.git
[submodule "perf-cpp"]
	path = perf-cpp
	url = git@github.com:jmuehlig/perf-cpp.git
